body.presenter {
  cursor: none;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
}

.draggable {
  -webkit-app-region: drag;
}

.not-draggable {
  -webkit-app-region: no-drag;
}

.roboto-regular {
  font-family: 'Roboto Regular';
}

.roboto-slab-regular {
  font-family: 'Roboto Slab Regular';
}

.montserrat-regular {
  font-family: 'montserratregular';
}

.montserrat-light {
  font-family: 'montserratlight';
}

.montserrat-semibold {
  font-family: 'montserratsemi_bold';
}

.montserrat-hairline {
  font-family: 'montserrathairline';
}

.titilliumregular {
  font-family: 'titilliumregular';
}

.titillium_bdbold {
  font-family: 'titillium_bdbold';
}

.titilliumthin {
  font-family: 'titilliumthin';
}

.lobster {
  font-family: 'lobster_1.3regular';
}

.josefin_slabregular {
  font-family: 'josefin_slabregular';
}

.josefin_slablight {
  font-family: 'josefin_slablight';
}

.josefin_slabitalic {
  font-family: 'josefin_slabitalic';
}

.josefin_slabbold {
  font-family: 'josefin_slabbold';
}

#canvas, #canvas1, #canvas2 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
}

-#canvas {
-  z-index: 30;
-}
-
-#canvas1 {
-  z-index: 41;
-}
-
-#canvas2 {
  z-index: 40;
}

#bible {
  position: relative;
  width: calc(100% - 16%);
  height: calc(100% - 16%);
  padding: 8%;
  z-index: 50;
}

#bibleText {
  text-align: center;
  font-size: 5vw;
  text-shadow: 0 0 1vw rgba(0, 0, 0, 0.7);
  z-index: 50;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -60%);
  padding: 7%;
  -webkit-transition: font-size 200ms;
}

#bibleSource {
  position: fixed;
  bottom: 5%;
  right: 5%;
  text-align: right;
}

#bibleVerse {
  z-index: 50;
  font-size: 3.5vw;
  padding-bottom: 0.5%;
  text-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.6);
  -webkit-transition: font-size 200ms;
}

#bibleTranslation {
  z-index: 50;
  font-size: 3.5vw;
  text-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.6);
  -webkit-transition: font-size 200ms;
}

#draggable {
  position: fixed;
  top: 1%;
  left: 2%;
  font-size: 8vw;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000,
    0 0 30px rgba(0, 0, 0, 0.8);
  color: white;
  display: none;
  z-index: 500;
}