body.presenter {
  cursor: none;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
}

.draggable {
  -webkit-app-region: drag;
}

.not-draggable {
  -webkit-app-region: no-drag;
}

.roboto-regular {
  font-family: 'Roboto Regular';
}

.roboto-slab-regular {
  font-family: 'Roboto Slab Regular';
}

#canvas, #bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
}

#bg {
  z-index: 40;
  transition: all .5s ease-in-out;
}

#bible {
  position: relative;
  width: calc(100% - 16%);
  height: calc(100% - 16%);
  padding: 8%;
  z-index: 50;
}

#bibleText {
  text-align: center;
  font-size: 5vw;
  text-shadow: 0 0 1vw rgba(0, 0, 0, 0.7);
  z-index: 50;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -60%)
}

#bibleSource {
  position: fixed;
  bottom: 5%;
  right: 5%;
  text-align: right;
}

#bibleVerse {
  z-index: 50;
  font-size: 2vw;
  padding-bottom: 0.5%;
  text-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.6);
}

#bibleTranslation {
  z-index: 50;
  font-size: 2vw;
  text-shadow: 0 0 0.5vw rgba(0, 0, 0, 0.6);
}

#draggable {
  position: fixed;
  top: 15px;
  left: 15px;
  font-size: 18px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
  color: white;
  display: none;
  z-index: 500;
}