<layout id="layout-backgrounds" style="display: none;">
  <div class="pure-g">
    <div class="pure-u-1-2">
      <h2 data-localize="chooseImage"></h2>
    </div>
    <div class="pure-u-1-2">
      <row>
        <btn id="importBgsFolderButton" class="pull-right" style="margin-right: 8px">
          <i class="fa fa-plus"></i> 
          <span data-localize="importImages"></span>
        </btn>
      </row>
    </div>
  </div>
  
  
  <div id="bgFolders">
    <div class="pure-g folder default active" id="bgsFolder_default">
      <div class="pure-u-1 pure-u-xl-1-4 pure-u-lg-1-3 pure-u-md-1-2">
        <div class="img-16-9 setPresenterBg" 
          data-file="assets/defaults/bgs/0.jpg"
          style="background-image: url('assets/defaults/bgs/0.jpg');"></div>
      </div>
    </div>
  </div>
  
  <div id="bgFoldersBar">
    <span data-localize="folders"></span>
    <span class="bgsFolderButton active" 
      data-folder="default" 
      data-localize="defaultBgsFolder"></span>
    
    <span class="addBgsFolderButton" 
      id="addNewBgsFolderButton">&nbsp;&nbsp;<b>+</b>&nbsp;&nbsp;</span>
  </div>
  
</layout>