<layout id="layout-bible" style="display: none;">
  <h2 data-localize="chooseVerse"></h2>
  
  <div class="pure-g">
    <div class="bibleTranslationCol">
      <span data-localize="translation" class="translation"></span><br>
      <select id="bibleTranslationSelect">
        <option></option>
      </select>
      <br><br>
      <span data-localize="history"></span>
      <br>
      <select class="custom_scrollbar" id="bibleHistory" size="19"></select>
    </div>
    <div class="bibleBookCol">
      <span data-localize="book"></span><br>
      <select class="custom_scrollbar" id="bibleBookSelect" size="23">
      </select>
    </div>
    <div class="bibleChapterCol">
      <span data-localize="chapter"></span><br>
      <select class="custom_scrollbar" id="bibleChapterSelect" size="23">
      </select>
    </div>
    <div class="bibleVerseCol">
      <span data-localize="verse"></span><br>
      <select class="custom_scrollbar" id="bibleVerseSelect" size="23">
      </select>
    </div>
  </div>
</layout>