<layout id="layout-bible" style="display: none;">
  <h2 data-localize="chooseVerse"></h2>
  
  <div class="pure-g">
    <div class="bibleTranslationCol">
      <span data-localize="translation" class="translation"></span><br>
      <select id="bibleTranslationSelect">
      </select>
      <br><br>
      <span data-localize="history"></span>
      <br>
      <select class="custom_scrollbar" id="bibleHistory" size="19">
      </select>
    </div>
    <div class="bibleBookCol">
      <span data-localize="book"></span><br>
      <select class="custom_scrollbar" id="bibleBookSelect" size="23">
        <option value="1" data-book="Gen" data-chapters="50">Gen</option>
        <option value="2" data-book="Exo" data-chapters="40">Exo</option>
        <option value="3" data-book="Lev" data-chapters="27">Lev</option>
        <option value="4" data-book="Num" data-chapters="36">Num</option>
        <option value="5" data-book="Deu" data-chapters="34">Deu</option>
        <option value="6" data-book="Joz" data-chapters="24">Joz</option>
        <option value="7" data-book="Sou" data-chapters="21">Sou</option>
        <option value="8" data-book="Rút" data-chapters="4">Rút</option>
        <option value="9" data-book="1Sa" data-chapters="21">1Sa</option>
        <option value="10" data-book="2Sa" data-chapters="24">2Sa</option>
        <option value="11" data-book="1Kr" data-chapters="22">1Kr</option>
        <option value="12" data-book="2Kr" data-chapters="25">2Kr</option>
        <option value="13" data-book="1Le" data-chapters="29">1Le</option>
        <option value="14" data-book="2Le" data-chapters="36">2Le</option>
        <option value="15" data-book="Ezd" data-chapters="10">Ezd</option>
        <option value="16" data-book="Neh" data-chapters="13">Neh</option>
        <option value="17" data-book="Est" data-chapters="10">Est</option>
        <option value="18" data-book="Jób" data-chapters="42">Jób</option>
        <option value="19" data-book="Žal" data-chapters="150">Žal</option>
        <option value="20" data-book="Pří" data-chapters="31">Pří</option>
        <option value="21" data-book="Kaz" data-chapters="12">Kaz</option>
        <option value="22" data-book="Pís" data-chapters="8">Pís</option>
        <option value="23" data-book="Iza" data-chapters="66">Iza</option>
        <option value="24" data-book="Jer" data-chapters="52">Jer</option>
        <option value="25" data-book="Plá" data-chapters="5">Plá</option>
        <option value="26" data-book="Eze" data-chapters="48">Eze</option>
        <option value="27" data-book="Dan" data-chapters="12">Dan</option>
        <option value="28" data-book="Oze" data-chapters="14">Oze</option>
        <option value="29" data-book="Jóe" data-chapters="3">Jóe</option>
        <option value="30" data-book="Ámo" data-chapters="9">Ámo</option>
        <option value="31" data-book="Abd" data-chapters="1">Abd</option>
        <option value="32" data-book="Jon" data-chapters="4">Jon</option>
        <option value="33" data-book="Mic" data-chapters="7">Mic</option>
        <option value="34" data-book="Nah" data-chapters="3">Nah</option>
        <option value="35" data-book="Aba" data-chapters="3">Aba</option>
        <option value="36" data-book="Sof" data-chapters="3">Sof</option>
        <option value="37" data-book="Age" data-chapters="2">Age</option>
        <option value="38" data-book="Zac" data-chapters="14">Zac</option>
        <option value="39" data-book="Mal" data-chapters="3">Mal</option>
        <option value="40" data-book="Mat" data-chapters="28">Mat</option>
        <option value="41" data-book="Mar" data-chapters="16">Mar</option>
        <option value="42" data-book="Luk" data-chapters="24">Luk</option>
        <option value="43" data-book="Jan" data-chapters="21">Jan</option>
        <option value="44" data-book="Sku" data-chapters="28">Sku</option>
        <option value="45" data-book="Řím" data-chapters="16">Řím</option>
        <option value="46" data-book="1Ko" data-chapters="16">1Ko</option>
        <option value="47" data-book="2Ko" data-chapters="13">2Ko</option>
        <option value="48" data-book="Gal" data-chapters="6">Gal</option>
        <option value="49" data-book="Efe" data-chapters="6">Efe</option>
        <option value="50" data-book="Fil" data-chapters="4">Fil</option>
        <option value="51" data-book="Kol" data-chapters="4">Kol</option>
        <option value="52" data-book="1Te" data-chapters="5">1Te</option>
        <option value="53" data-book="2Te" data-chapters="3">2Te</option>
        <option value="54" data-book="1Ti" data-chapters="6">1Ti</option>
        <option value="55" data-book="2Ti" data-chapters="4">2Ti</option>
        <option value="56" data-book="Tit" data-chapters="3">Tit</option>
        <option value="57" data-book="Fil" data-chapters="1">Fil</option>
        <option value="58" data-book="Žid" data-chapters="13">Žid</option>
        <option value="59" data-book="Jak" data-chapters="5">Jak</option>
        <option value="60" data-book="1Pe" data-chapters="5">1Pe</option>
        <option value="61" data-book="2Pe" data-chapters="3">2Pe</option>
        <option value="62" data-book="1Ja" data-chapters="5">1Ja</option>
        <option value="63" data-book="2Ja" data-chapters="1">2Ja</option>
        <option value="64" data-book="3Ja" data-chapters="1">3Ja</option>
        <option value="65" data-book="Jud" data-chapters="1">Jud</option>
        <option value="66" data-book="Zje" data-chapters="22">Zje</option>
      </select>
    </div>
    <div class="bibleChapterCol">
      <span data-localize="chapter"></span><br>
      <select class="custom_scrollbar" id="bibleChapterSelect" size="23">
      </select>
    </div>
    <div class="bibleVerseCol">
      <span data-localize="verse"></span><br>
      <select class="custom_scrollbar" id="bibleVerseSelect" size="23">
      </select>
    </div>
  </div>
</layout>