<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  
  <title>Canvas</title>
  <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../fonts/roboto_regular/stylesheet.css">
  <link rel="stylesheet" href="../fonts/robotoslab_regular/stylesheet.css">
  <link rel="stylesheet" href="../fonts/montserrat/stylesheet.css">
  <link rel="stylesheet" href="../fonts/titillium/stylesheet.css">
  <link rel="stylesheet" href="../fonts/lobster/stylesheet.css">
  <link rel="stylesheet" href="../fonts/josefinslab/stylesheet.css">
  
  <link rel="stylesheet" href="../css/pure-min.css">
  <link rel="stylesheet" href="../css/presenter.css">
</head>

<body class="presenter" id="body">

  <div id="canvas" class="roboto-slab-regular">
    
    <div id="bible">
      <div id="bibleText"></div>
      <div id="bibleSource">
        <div id="bibleVerse"></div>
        <div id="bibleTranslation"></div>
      </div>
    </div>
    
     <div id="bg">
      <div id="canvas1"></div>
      <div id="canvas2"></div>
    </div>
    
    <div class="draggable" id="draggable">
      <i class="fa fa-arrows"></i>
    </div>
    
  </div>
  
  <img id="initAnimation" class="invert" 
    src="../assets/defaults/animations/init.gif" 
    width="500" 
    height="auto">
  
  
  <script src="../bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../bower_components/html2canvas/build/html2canvas.min.js"></script>
  <script src="../js/presenter.js"></script>
</body>
</html>