<!DOCTYPE html>
<html>
<head>
  <title>Plátno</title>
  <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/pure-min.css">
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/presenter.css">
</head>

<body class="presenter" id="body">

  <div id="canvas">
    
    <div id="bible">
      <div id="bibleText"></div>
      <div id="bibleSource">
        <div id="bibleVerse"></div>
        <div id="bibleTranslation"></div>
      </div>
    </div>
    
    <div id="bg">
      <div id="canvas1"></div>
      <div id="canvas2"></div>
      
      <img id="previewBackdrop">
    </div>
    
    <div class="draggable" id="draggable">
      <i class="fa fa-arrows"></i>
    </div>
    
  </div>
  
  
  <script src="../bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../bower_components/html2canvas/build/html2canvas.min.js"></script>
  <script src="../js/presenter.js"></script>
</body>
</html>