<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  
  <title>Song editor</title>
  <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="../fonts/roboto_regular/stylesheet.css">
  <link rel="stylesheet" href="../css/pure-min.css">
  <link rel="stylesheet" href="../css/grids-responsive-min.css">
  <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
  <toolbar class="draggable">
    <menu id="toolbarMenu">
      
      <menu-item class="title">
        Song Editor
      </menu-item>
      
    </menu>
    
    <close-button id="closeEditor" class="not-draggable">
      <i class="fa fa-times"></i>
    </close-button>
  </toolbar>
  
  <script src="../bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../js/song-editor.js"></script>
  
</body>
</html>